header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}

.padding_top {
  padding-top: 80px;
}

.bd-example .table-responsive{
  width: 2300px;
}

/* TABLE HIDDEN PRINT */

#tableResult {
  font-size: 12px;
}

table thead tr {
  background-color: #000;
  color: #fff;
  font-size: 12px;
}

